/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar-brand{
    text-align: center;
}

.navbar-header a {
color: #ffffff;
}

.navbar-header a:hover{
color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link  {
color: #ffffff;
}

td,th{
text-align:center;
}

.tablehead{
background-color: #1743B4;
}

thead tr th{
color: white;
}

.container-fluid{
padding-left: 100px;
padding-right: 100px;
}

.tablebody a:link,  .tablebody a:visited,  .tablebody a:hover,  .tablebody a:active,.tablebody a  { 
    text-decoration:none; 
    color: black;
}

.tablehead a:link,  .tablehead a:visited,  .tablehead a:hover,  .tablehead a:active,.tablehead a  { 
    text-decoration:none; 
    color: white;
}
body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
 }

 textarea.form-control{
     width: 30%;
 }
 select.form-control{
     width: 30%;
 }

.search_form{
    float:right;
}

.challengelist{
    text-align:left;
    float:left;
}

.form-inline{
    float:left;
}

.newformaction{
    float: right;
}

.form-group{
    display: block;
}

.user_login label , .user_password label, .user_email label , .user_password_confirmation label{
    display: block;
    text-align: center;
    font-size: large;
    font-weight: bold;
}  

.loginform input[type="submit"] {
    width:100%;
    }

.login_container{
    margin-top: 20vh;
}

.signup_container{
    margin-top: 15vh;
}

.formbtn    {
    margin-top: 32px !important;
    }

.formspace{
    padding-right: 250px !important;
    padding-left: 10px !important;
}

.formspace .form-control{
    width: 150%;
}

.challenge_title label , .challenge_description label, .challenge_tags label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-left: 50%;
}  