/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




.navbar-header a {
color: #ffffff;
}

.navbar-header a:hover{
color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link  {
color: #ffffff;
}

td,th{
text-align:center;
}

.tablehead{
background-color: #1743B4;
}

thead tr th{
color: white;
}

.container-fluid{
padding-left: 100px;
padding-right: 100px;
}

.table a:link,  .table a:visited,  .table a:hover,  .table a:active,.table a  { 
    text-decoration:none; 
    color: black;
}