<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark navbar-fixed-top" style="background-color: #142952;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav-link" href="">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-center">
      <li class="active"><a class="navbar-brand" href="#">Hackathon</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
 
       <li class="nav-item">
 
           <li class="nav-item">
           <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
           </li>
 
       <% else %>
 
       <li class="nav-item">
           <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
           </li>
 
           <li class="nav-item">
           <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
           </li>
 
          
       <% end %>
    </ul>
  </div>
</nav>
